[submodule "Scilab/virtual"]
	path = Scilab/virtual
	url = https://github.com/rupakrokade/scilab_virtual_codes.git
[submodule "Scilab/local"]
	path = Scilab/local
	url = https://github.com/rupakrokade/scilab_local_codes.git
[submodule "Scilab/Analysis"]
	path = Scilab/Analysis
	url = https://github.com/rupakrokade/scilab_analysis_codes.git
